.folio{
  
  article{
    
    position: relative;
    
    img{
      display: block;
    }
    
    p{
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      margin: 0;
      padding: 20px 10px;

      color: $white;
      background-color: rgba(0,0,0,0.6);

      opacity: 0;
      
    }

    &:hover p{
      opacity: 1;
      transition: 0.5s;
    }
    
    
  }
  
}







//media querie

@media screen and (min-width: $vw-small){

  .folio{
    div{
      display: flex;
      flex-wrap: wrap;
    }

  }

  article{
    flex: 1 0 50%;
    //grow, shrink, basis
  }

}

@media screen and (min-width: $vw-large){

  .folio{
    div{
      display: flex;
      flex-wrap: wrap;
    }

  }

  article{
    flex-basis: 33.3333%;
    //grow, shrink, basis
  }

}