header{

  background-color: $color-bc-menu;



  .profile{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 40px;


    &-image{

      height: 150px;
      width: 150px;

      border: 4px solid white;
      border-radius: 50%;

      margin-bottom: 20px;

      //cacher escédent

      overflow: hidden


    }

  }

  h1{
    color: $white;

    margin: 0 0 5px 0;
  }

  p{
    color: $white;

    font-size: rem(18);
    margin: 0;
  }



}