.hero{

  background-color: $white;

  background: url("../images/7.jpg") center / cover no-repeat;
  
  .texte-bienvenue{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    min-width: 400px;
    padding: 20px;

    background-color: rgba(95, 109, 126, 0.4) ;
    
    h2, p{
      margin-left: rem(16);
      line-height: 1.2;

      color: $white;
    }

    p{
      font-size: rem(22);
    }

  }
  
}




@media screen and (min-width: $vw-small){
  .hero{
    .texte-bienvenue{
      padding: 80px;
      min-height: 600px;
    }
  }
}