.nav-principale{

  ul{
    margin: 0;
    padding: 0;

    display: none;
  }

  a{
    color: $white;
    display: flex;
    align-items: center;
    padding: 15px 40px;

    i{
      font-size: rem(24);
      margin-right: 15px;
    }

    &:hover{
      background-color: $color-link-hover;
    }

  }


  label.show-menu{

    display: block;
    text-align: center;
    color: $white;

    background-color: #555;

    padding: 10px 0;
  }

  //rendre menu visible

  .toggle-menu:checked + ul{
    display: block;
  }

  //bouton check invisible

  .toggle-menu{
    display: none;
  }




}