//FICHIER DE CONFIGURATION POUR LES VARIABLES DE COULEUR

// Couleur de base 

$white: white;

$color-text: #777;
$color-bc: #fff;
$color-bc-menu: #5f6d7e;
$color-title-section: #555;
$color-link: #fff;
$color-link-hover: darken($color-bc-menu, 5%);
$color-link-active: darken($color-bc-menu, 15%);
