//FICHIER DE CONFIGURATION POUR LES VARIABLES DE POLICE


/// Grosseur des textes

/// Font family
$ff-normal: Roboto, Helvetica, Arial, sans-serif;
$line-h: 1.5;
$fz-normal: rem(16);

/// Fonts weight
$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 500;
$fw-bold: 700;
